@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Staatliches&display=swap");
.cabecera {
  min-height: 100vh;
  background-image: url(https://cochesnuevos.autofacil.es/img/BMW_I4-2022.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .cabecera {
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 70vh;
  }
}
@media screen and (min-width: 992px) {
  .cabecera {
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 80vh;
  }
}
.cabecera-menu {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .cabecera-menu {
    display: flex;
    padding: 40px;
  }
}
@media screen and (min-width: 992px) {
  .cabecera-menu {
    display: flex;
    padding: 40px;
  }
}
.cabecera-menu_div1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .cabecera-menu_div1 {
    display: flex;
    width: 79%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 992px) {
  .cabecera-menu_div1 {
    display: flex;
    width: 79%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.cabecera-menu_div1-ul1 {
  border-bottom: solid;
  border-bottom-color: white;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .cabecera-menu_div1-ul1 {
    border-top: solid;
    border-top-color: white;
    padding-top: 10px;
    border-bottom: none;
  }
}
@media screen and (min-width: 992px) {
  .cabecera-menu_div1-ul1 {
    border-top: solid;
    border-top-color: white;
    padding-top: 10px;
    border-bottom: none;
  }
}
.cabecera-menu_div2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .cabecera-menu_div2 {
    width: 50%;
    padding-top: 0px;
  }
}
@media screen and (min-width: 992px) {
  .cabecera-menu_div2 {
    width: 50%;
    padding-top: 0px;
  }
}

img {
  width: 3vh;
}

.menus {
  color: white;
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .menus {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .menus {
    font-size: 20px;
  }
}

.div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
  color: rgb(249, 249, 177);
}
@media screen and (min-width: 768px) {
  .div3 {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .div3 {
    display: none;
  }
}

.div4 {
  display: none;
}
@media screen and (min-width: 768px) {
  .div4 {
    padding: 20px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: black;
    font-family: "Staatliches", cursive;
    letter-spacing: 0.3em;
  }
}
@media screen and (min-width: 992px) {
  .div4 {
    padding: 20px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: black;
    font-family: "Staatliches", cursive;
    letter-spacing: 0.3em;
  }
}

button {
  text-decoration: none;
  padding: 5px 50px 5px 50px;
  color: #000000;
  background-color: #bdcce1;
}

h3 {
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}

.categories_uls {
  display: flex;
  justify-content: space-evenly;
  color: grey;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .categories_uls {
    display: flex;
    justify-content: space-evenly;
    color: grey;
    padding-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .categories_uls {
    display: flex;
    justify-content: space-evenly;
    color: grey;
    padding-top: 70px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.categories_uls-li {
  padding: 5px 50px 5px 50px;
  color: #000000;
  background-color: rgba(189, 204, 225, 0.337254902);
  min-width: 150px;
  text-align: center;
  margin: 15px;
}

.coches {
  min-width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .coches {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .coches {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.coches-uno {
  padding-top: 50px;
}
.coches-uno_img {
  width: 40vh;
}
@media screen and (min-width: 768px) {
  .coches-uno_img {
    width: 29vh;
    height: 180px;
  }
}
@media screen and (min-width: 992px) {
  .coches-uno_img {
    width: 29vh;
    height: 180px;
  }
}
.coches-uno_h2 {
  font-size: 22px;
}
.coches-uno_h3 {
  padding: 0px;
  font-size: 17px;
  padding-bottom: 10px;
  color: #bdcce1;
}
.coches-uno_p {
  font-size: 15px;
}

.blog {
  min-height: 70vh;
  width: 100%;
  background-color: white;
}

.line8 {
  color: #000000;
  margin: 10px;
}

.blogg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.cartas {
  display: flex;
  height: 450px;
  margin: 60px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.carta1 {
  background-color: #bdcce1;
  width: 15%;
  min-width: 300px;
}

.carta2 {
  background-color: rgb(60, 57, 57);
  width: 15%;
  min-width: 300px;
}

.carta3 {
  background-color: #0057a1;
  width: 15%;
  min-width: 300px;
}

.imgeye {
  width: 15px;
}

.novedades {
  padding: 70px;
  font-size: 25px;
  color: white;
}

.adimpng {
  margin-right: 10px;
  color: white;
}

.cartabottonn {
  border: 1px;
  color: white;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.botonparador {
  background-color: rgba(0, 255, 255, 0);
  margin-top: 17px;
  margin-left: 17px;
  border-color: aliceblue;
}

.fecha {
  font-size: 12px;
}

.tenemos {
  font-size: 30px;
}

.linenove {
  height: 1px;
  width: 100;
  background-color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0);
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}

.admin {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
}

.form-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-right: 20px;
}

.form-text {
  width: 500px;
  margin-left: 20px;
}

.form-text h2 {
  color: #b88439;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.1em;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.form-text h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.form-text p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.form-select {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.form-input {
  margin-bottom: 10px;
}

.form-label {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-bottom: 5px;
}

.form-labell {
  color: cadetblue;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.form-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.form-btn2 {
  margin-bottom: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.vencuandoquieras {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./imagenes/postre.png);
  min-height: 60vh;
  width: 100%;
  margin-top: 80px;
}

.ven {
  text-align: center;
  color: aliceblue;
  width: 100%;
  padding-top: 40px;
}

.tittleven {
  font-size: 20px;
}

.treslogos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.lugar {
  color: white;
}

.lugarlogo {
  width: 50px;
}

.lugarlogoo {
  width: 40px;
}

.logosjuntos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rrss {
  display: flex;
  justify-content: center;
}

.rrssbotton {
  margin-left: 50px;
  margin-right: 50px;
  color: black;
  border: 2px solid #000000;
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

.final {
  min-height: 40vh;
  width: 100%;
  background-color: rgb(184, 180, 175);
  margin-top: 100px;
}

.enlacesinteres {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}

.finaltitulos {
  font-size: 20px;
}

.finalp {
  padding-top: 20px;
  font-size: 15px;
}

.derechosreservados {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.derechoslogo {
  width: 20px;
  padding-right: 20px;
}

.enlaces {
  display: flex;
  justify-content: center;
}

.enlace {
  padding-top: 14px;
  color: white;
}

.pie {
  background-color: #e6e6e6;
}
.pie-img {
  width: 140vh;
}/*# sourceMappingURL=style.css.map */